<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Registro de Curso a Sección</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/secciones}">Control de Secciones - Cursos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">Registro de Sección</h1>
                <div class="card-body">
                    <form th:action="@{/secciones/registroSeccion}" th:object="${seccion}" method="post">
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input type="text" name="nombre" th:field="*{nombre}" class="form-control"
                                placeholder="Digite su nombre:" required>
                        </div>

                        <div class="form-group">
                            <label>Descripción:</label>
                            <input type="text" name="descripcion" th:field="*{descripcion}" class="form-control"
                                placeholder="Digite su descripción:" required>
                        </div>
                        
                        <div class="form-group">
                            <label>Dias de la Semana:</label>
                            <input type="text" name="dias_Semana" th:field="*{dias_Semana}" class="form-control"
                                placeholder="Digite los Dias de la Semana:" required>
                        </div>
                        
                        <div class="form-group">
                            <label>Hora:</label>
                            <input type="text" name="hora" th:field="*{hora}" class="form-control"
                                placeholder="HH:mm:ss:" required>
                        </div>
                        
                        <div class="form-group">
                            <label>Aforo:</label>
                            <input type="number" name="aforo" th:field="*{aforo}" class="form-control"
                                placeholder="Digite la Cantidad de Aforo:" required>
                        </div>

                        <div class="box-footer">
                            <button class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>